@import "tailwindcss";

@font-face {
    font-family: 'Simple-Square';
    src: url('./fonts/ST-SimpleSquare.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('./fonts/Rubik-Light.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal;
    font-display: swap;
}

::-webkit-scrollbar {
    display: none; /* Полностью скрывает скроллбар */
}

body {
    color: #ededed;
    background: #000000;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;

    /*overflow: hidden;*/
}

/*input{*/
/*    border: 1px solid #CCCCCC;*/
/*}*/

/*form label{*/
/*    display: flex;*/
/*    align-items: center;*/
/*    gap: 10px;*/
/*}*/