@import "tailwindcss";

::-webkit-scrollbar {
    display: none; /* Полностью скрывает скроллбар */
}

body {
    color: #ededed;
    background: #000000;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input{
    border: 1px solid #CCCCCC;
}

form label{
    display: flex;
    align-items: center;
    gap: 10px;
}